body{
    background-color: black;
    text-align: center;
    color: white;
    }
  

body {
  background-color: #FCF6F5;
  text-align: center;
  color: #990011;
  font-weight:normal;
  }
  
 

  .row{
    margin-top: 90px;
    min-height: 100px;
    justify-content: space-between;
  }

  ul {
    list-style-type: none;
    padding: 0%;
  }

  