@media(min-width:768px){
  .container-1{
    display:flex;  
    justify-content:space-around;
  }
  .container-2{
    display:flex;
    justify-content:start;
    flex-direction:column;
    gap:50px;
  }
}
body {
    background-color: #FCF6F5;
    text-align: center;
    color: #990011;
    font-weight:normal;
    }
  
  .shadow{
    text-shadow: 1px 1px #e45d5d;
  }

  ul {
    list-style-type: none;
    padding: 0%;
  }

  .container-1-box{
    flex-basis: 27%;  
  }


  .container-2 div{
    border:1px #ccc solid;
    padding:10px;
  }

  